@mixin option{
  background-color: #C3343A;
  position: absolute;
  width: 3.5rem;
  color: #fff;
  box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
  border-radius: 50%;
}
 @mixin nothing{
  width: 3rem;
  font-size: 10px;
  background-color:white;
  color: #C3343A;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
    
   }


.nothing1{
  @include nothing();
  visibility: hidden;
 
}
.nothing2{
  @include nothing();
  visibility: hidden;
 
}
.nothing3{
  @include nothing();
  visibility: hidden;
 
}
.nothing4{
  @include nothing();
  visibility: hidden;
  
}

.person:hover .nothing1{
  visibility: visible;
 }
.home:hover .nothing2{
  visibility: visible;
 }
.log:hover .nothing3{
  visibility: visible;
 }
.logout:hover .nothing4{
  visibility: visible;
 }


  .mat-menu-panel.myClass{
    div{
      border-radius: 50%;
    }
    .mat-icon{
      color: white;
    }
    min-width:none;
    max-width: none;
    height: 10rem;
    width: 10rem;
    position: absolute;
    right: 0rem;
    display: contents;
    background: transparent;
    top: -25px;

   .person{
    @include option();
  right: 8rem;
    top: -2rem;
   }

   .home{
    @include option();
    right:6rem;
    top: 1rem;
   }

   .log{
    @include option();
    right: 2rem;
    top: 1rem;
  
   }
   
   .logout{
    @include option();
      right: 0rem;
      top: -2rem;
      
   }
  
}