.container{
 
    position: absolute;
   
    right: 4rem;
    top: 1rem;
    .mat-icon{
        color: white;
      }
button{
    background-color: #C3343A;
    border-radius: 50%;
    width: 3.5rem;
 
    height: 3.5rem;
    border: none;
    mat-icon{
        font-size: 1.5rem;
    }
} 
button:hover{
    border-radius: 50%;
}
  
.mat-button{
  width: 10px;
  border-radius: 50%;
     }
     
  
       
}
  
